doctype html
html(lang="ja")
	include ../includes/common/_head.pug
body
	div.ly_wrapper
		main.ly_main
			section.hogehoge.__green
			section.hogehoge.__red
			section#js_fixedView.bl_fixedView
				.fixedView_scene.js_scene
					.fixedView_inner
						p.js_animTarget 1
						p.js_animTarget 1
						p.js_animTarget 1
						p.js_animTarget 1
				.fixedView_scene.js_scene
					.fixedView_inner
						p.js_animTarget 2
						p.js_animTarget 2
						p.js_animTarget 2
						p.js_animTarget 2
				.fixedView_scene.js_scene
					.fixedView_inner
						p.js_animTarget 3
						p.js_animTarget 3
						p.js_animTarget 3
						p.js_animTarget 3
				.fixedView_scene.js_scene
					.fixedView_inner
						p.js_animTarget 4
						p.js_animTarget 4
						p.js_animTarget 4
						p.js_animTarget 4
			section.hogehoge.__red
			section.hogehoge.__green
	include ../includes/common/_src.pug