doctype html
html(lang="ja")
	include ../includes/common/_head.pug
body
	div.ly_wrapper
		main#pg_top.ly_main.pg_top
			section#js_topMv.pg_top_mv
				img.js_mvBg.mvBg(src="./assets/images/byTakuma/mvBg.jpg",alt="",width="108",height="335")
				.pg_top_mv_elems
					img.js_elm.elm1(src="./assets/images/byTakuma/mv-human01.svg",alt="",width="108",height="335")
					img.js_elm.elm2(src="./assets/images/byTakuma/mv-human02.svg",alt="",width="175",height="133")
					img.js_elm.elm3(src="./assets/images/byTakuma/mv-human03.svg",alt="",width="172",height="102")
				h1.js_title.pg_top_mv_title 薬が必要なくなる未来を、<br>めざす製薬会社でありたい。
			section#js_topIntro.pg_top_intro.has_sticky
				.pg_top_intro_bg
					img.introJoint(src="./assets/images/byTakuma/introJoint.png",alt="",width="1562",height="175")
					img.introBg(src="./assets/images/byTakuma/introBg.png",alt="",width="1540",height="1315")
				.ly_inner.pg_top_intro_cont
					h2.pg_top_intro_title.js_title 薬が必要なくなる未来を、<br>めざす製薬会社でありたい。
					p.pg_top_intro_text.js_text 世界に先駆けて、<br>アルツハイマー型認知症の薬をつくった。<br>がん領域の成果や<br>顧みられない熱帯病での貢献も広がっている。<br>薬で社会を変える挑戦は、これからも続く。<br>それでも。<br>エーザイは想う。いつか、薬が必要なくなる未来を。<br>患者様や生活者の皆様が、病気で苦しんだり、怖がったりせずに、<br>心を自由に走らせて、毎日を豊かに、生ききる。<br>その人らしい人生を支えることが、<br>ヒューマン・ヘルスケアだと思うから。<br>だから、私たちは自分自身に問い続けたい。<br>「薬が必要なくなる世界を、どうつくる？」と。
	include ../includes/common/_src.pug