@use "../global"as *;

/*===============================================
loading
===============================================*/
.un_loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 9999;
    pointer-events: none;

    &_content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }

    &_logo {

        &Wrapper {
            width: 160px;
            position: relative;

            @include mq(lg) {
                width: 140px;
            }
        }
    }
}

/*===============================================
loading 初期状態
===============================================*/
.un_loading {
    background-color: #333333;

    &_logo {
        transform: scale(3);
        opacity: 0;
    }
}