@use "../../global"as *;

/*===============================================
heading
===============================================*/
.el_headingBlock {

    &_title {
        font-size: $fontsize-5;
        @include lineHeightCrop($leading-normal);
        line-height: $leading-normal;
    }

    &__center {
        text-align: center;
    }

    &__left {
        text-align: left;
    }

    &__fff {
        >* {
            color: #fff;
        }
    }
}

//margin
.el_headingBlock {
    >*:last-child {
        margin-bottom: 0 !important;
    }

    .el_headingBlock {
        &_title {
            margin-bottom: $spacing-3;
        }
    }
}