@use "../../global"as *;

/*===============================================
footer
===============================================*/
.bl_footerCopyright {
    display: block;
    font-size: $fontsize-2;
    text-align: center;
}