@use "../../global"as *;

/*===============================================
card
===============================================*/

.bl_card {
    @mixin cardTitle {
        font-size: $fontsize-2;
        font-weight: bold;
        line-height: $leading-snug;
        @include lineHeightCrop($leading-snug);
    }

    &_column {
        width: 100%;
        display: block;
        padding: $spacing-1;
        background-color: #fff;
        border-radius: 4px;

        &_title {
            @include cardTitle;
        }

    }
}