@use "../../global"as *;

/*===============================================
cardUnit
===============================================*/
.bl_cardUnit {
    display: flex;
    flex-wrap: wrap;

    &__3col {
        --negativeMargin: #{$spacing-4};

        @include mq(md) {
            --negativeMargin: #{$spacing-3};
        }

        margin-bottom: calc(var(--negativeMargin) * -1);

        .bl_cardUnit_list {
            display: inline-block;
            width: calc(33.33333% - 26px);
            margin-bottom: var(--negativeMargin);
            text-align: left;
            vertical-align: top;

            @include mq(md) {
                width: calc(50% - 16px);
                vertical-align: top;
            }

            @include mq(sm) {
                width: 100%;
                vertical-align: top;
            }

            &:nth-child(3n+1) {
                margin-right: 26px;

                @include mq(md) {
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            &:nth-child(3n+2) {
                margin-right: 13px;
                margin-left: 13px;

                @include mq(md) {
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            &:nth-child(3n) {
                margin-left: 26px;

                @include mq(md) {
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            &:nth-child(2n+1) {
                @include mq(md) {
                    margin-right: $spacing-1;
                }

                @include mq(sm) {
                    margin-right: 0;
                }
            }

            &:nth-child(2n+2) {
                @include mq(md) {
                    margin-left: $spacing-1;
                }

                @include mq(sm) {
                    margin-left: 0;
                }
            }
        }
    }

    &__2col {
        justify-content: space-between;
        --negativeMargin: #{$spacing-4};

        @include mq(md) {
            --negativeMargin: #{$spacing-3};
        }

        margin-bottom: calc(var(--negativeMargin) * -1);

        .bl_cardUnit_list {
            display: inline-block;
            width: calc(50% - #{$spacing-4});
            margin-bottom: var(--negativeMargin);

            @include mq(md) {
                width: calc(50% - #{$spacing-1});
            }

            @include mq(sm) {
                width: 100%;
            }
        }
    }
}