@use "../../global"as *;

/*===============================================
tab
===============================================*/
//タブ
.bl_tabBtn {
    display: flex;

    button {
        color: $color-base;

        &[aria-expanded="true"] {
            color: $color-bg;
        }

        @include hover {
            color: $color-bg;
        }
    }
}

//パネル
.bl_tabPanel {
    position: relative;

    &_list {
        height: 200px;
        width: 400px;
        background-color: red;
        @include absolute(0, 0, 0, 0);
        visibility: hidden;
        pointer-events: none;

        &[aria-hidden="false"] {
            visibility: visible;
            position: relative;
        }
    }
}