@use "../global"as *;

/*===============================================
common
===============================================*/
//コンテンツの高さが画面に満たない場合フッターを画面下部に固定する
.ly_wrapper {
	flex-direction: column;
	display: flex;
	min-height: calc(var(--vh, 1vh) * 100);

	.ly_main {
		flex: 1;
	}
}

.ly_inner {
	--innerWidth: 1200px;
	margin: 0 auto;
	width: min(100% - 32px, var(--innerWidth));
}