@use "../global"as *;

/*===============================================
header
===============================================*/
.ly_header {
    background-color: $color-wht;
    position: fixed;
    width: 100%;
    z-index: 9999;

    &_inner {
        align-items: center;
        height: var(--headerHeight);
        display: flex;
        justify-content: space-between;
    }

    &Nav_wrapper {
        align-items: center;
        display: flex;

        @include mq(lg) {
            display: none;
        }
    }

    .bl_headerNav_sm,
    .bl_headerNav_sm_bg,
    .bl_hamburgerBtn {
        display: none;

        @include mq(lg) {
            display: block;
        }
    }
}