@use "../global" as *;

/*===============================================
fixedView
===============================================*/
.hogehoge {
   height: 75vh;
   &.__red {
      background-color: red;
   }
   &.__green {
      background-color: green;
   }
}

.bl_fixedView {
   position: relative;
   .fixedView_scene {
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #333333;
      p {
         color: #fff;
         font-size: 4rem;
         margin-top: $spacing-3;
      }
   }
}

/*===============================================
必須のclass設定
===============================================*/
.fixedView_scene {
   &[data-view="0"] {
      .fixedView_inner {
         visibility: hidden;
      }
   }
}
